<% breadcrumb :show_game, @game %>
<div class="game-wrapper">
  <button id="restart-game">RESTART</button>
  <div class="inputs-wrapper">
    <div class="input" id="select1-div">
      <select id="select1" class="select-tag">
        <%= options_for_select(@nums50) %>
      </select>
      <%# <div class="input-num-btns">
        <button class="input-num-btn" id="select1-up">+</button><br />
        <button class="input-num-btn" id="select1-down">-</button>
      </div> %>
      <p id="select1-message">○×○マス</p>
    </div>
    <div class="input" id="input2-div">
      <select id="input2" class="select-tag">
        <%= options_for_select(@nums100) %>
      </select>
      <%# <div class="input-num-btns">
        <button class="input-num-btn" id="input2-up">+</button><br />
        <button class="input-num-btn" id="input2-down">-</button>
      </div> %>
      <p id="input2-message">爆弾の数</p>
    </div>
  </div>
  <div class="game-btns">
    <div class="game-btn-div">
      <p class="game-btn-text" id="game-btn-text1"></p>
      <button id="game-btn1"></button>
    </div>
    <div class="game-btn-div">
      <p class="game-btn-text" id="game-btn-text2"></p>
      <button id="game-btn2"></button>
    </div>
  </div>
  <table id="board"></table>
  <div class="game-info">
    <h2 id="info"></h2>
  </div>
</div>