<% breadcrumb :show_game, @game %>
<div class="game-wrapper">
  <div class="top-btn-wrapper">
    <div class="top-left-wrapper"></div>
    <div class="top-center-wrapper">
      <button id="restart-game">RESTART</button>
    </div>
    <div class="top-right-wrapper">
      <button id="helper-btn" ></button><p id="helper-btn-message"></p>
    </div>
  </div>
  <div class="inputs-wrapper">
    <div class="select" id="select1-div">
      <select id="select1" class="select-tag">
        <%= options_for_select(@nums50) %>
      </select>
      <p id="select1-message">○×○マス</p>
    </div>
    <div class="select" id="select2-div">
      <select id="select2" class="select-tag">
        <%= options_for_select(@nums1000) %>
      </select>
      <p id="select2-message">爆弾の数</p>
    </div>
  </div>
  <div class="game-btns" id="game-btns-div">
    <div class="game-btn-div">
      <p class="game-btn-text" id="game-btn-text1"></p>
      <button id="game-btn1"></button>
    </div>
    <div class="game-btn-div">
      <p class="game-btn-text" id="game-btn-text2"></p>
      <button id="game-btn2"></button>
    </div>
  </div>
  <table id="board"></table>
  <div class="game-info">
    <h2 id="info1"></h2>
    <h2 id="info2"></h2>
  </div>
</div>