// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.game-image {
  height: 300px;
  /* width: 300px; */
}

.game-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
}

#input {
  font-size: 20px;
}

#restart-game {
  width: 15vmin;
  font-size: 3vmin;
  margin-top: 10px;
}