// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index-wrapper {
  padding: 3vmin;
  border: 1px solid #0107422a;
  border-top: none;
}

.index-games {
  display: flex;
  // justify-content: space-around;
}

.game-image {
  height: 300px;
}

.game-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  background-color: #f5f5f5;

}

#restart-game {
  width: 15vmin;
  font-size: 3vmin;
  margin-top: 10px;
}

.input {
  display: flex;
}

#input {
  font-size: 20px;
}

#board {
  margin: 10px;
}

.game-info {
  height: 27px;
}