// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.game-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  background-color: #f5f5f5;
}

.top-btn-wrapper {
  width: 100%;
  display: flex;
}

.top-left-wrapper {
  width: 3%;
}

.top-center-wrapper {
  width: 30%;
  text-align: center;
}

.top-right-wrapper {
  width: 40%;
  padding-right: 10px;
}

@media screen and (max-width:767px) {
  #restart-game {
    font-size: 4vmin;
    margin-top: 10px;
    height: 7vmin;
    padding: 0 3vmin;
  }
}

@media screen and (min-width:768px) {
  #restart-game {
    height: 35px;
    font-size: 23px;
    margin-top: 10px;
    padding: 0 20px;
  }
}

@media screen and (max-width:767px) {
  #helper-btn {
    height: 7vmin;
    font-size: 4vmin;
    margin-top: 10px;
    padding: 0 1.5vmin;
  }
}

@media screen and (min-width:768px) {
  #helper-btn {
    height: 35px;
    font-size: 16px;
    margin-top: 10px;
    padding: 0 15px;
  }
}

.inputs-wrapper {
  display: flex;
}

.select {
  display: flex;
  align-items: center;
  padding: 8px 0 0 13px;
}

@media screen and (max-width:767px) {
  .select-tag {
    font-size: 4vmin;
    height: 30px;
  }
}

@media screen and (min-width:768px) {
  .select-tag {
    font-size: 20px;
    height: 40px;
  }
}

@media screen and (max-width:767px) {
  .select-message {
    font-size: 3vmin;
  }
}

@media screen and (min-width:768px) {
  .select-message {
    font-size: 16px;
  }
}

@media screen and (max-width:767px) {
  .game-btns {
    height: 100px;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3vmin;
  }
}

@media screen and (min-width:768px) {
  .game-btns {
    height: 130px;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.game-btn-div {
  text-align: center;
}

@media screen and (max-width:767px) {
  .game-btn-off {
    margin: 5px 5px;
  }
}

@media screen and (min-width:768px) {
  .game-btn-off {
    margin: 7px 5px;
  }
}

.game-btn-off {
  height: 60px;
  width: 60px;
  border: 1px solid #a1a1dd;
}

.game-btn-on {
  height: 70px;
  width: 70px;
  border: 2px solid #7171f0;
}

#board {
  // margin: 10px;
}

.game-info {
  height: 27px;
}
