// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.game-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  background-color: #f5f5f5;
}

#restart-game {
  width: 17vmin;
  font-size: 3vmin;
  margin-top: 10px;
}

.inputs-wrapper {
  display: flex;
}

.input {
  display: flex;
  align-items: center;
  padding: 8px 0 0 13px;
}

.select-tag {
  font-size: 20px;
  height: 40px;
}

.input-num-btn {
  height: 30px;
  width: 30px;
  margin: 0 5px;
}

.game-btns {
  height: 100px;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-btn-div {
  text-align: center;
}

.game-btn-off {
  height: 60px;
  width: 60px;
  border: 1px solid #a1a1dd;
  margin: 8px 0;
}

.game-btn-on {
  height: 75px;
  width: 75px;
  border: 2px solid #7171f0;
}

#board {
  margin: 10px;
}

.game-info {
  height: 27px;
}
