header {
  display: flex;
  justify-content: space-between;
  font-size: 2.5vmin;
  padding: 0 1vmin;
  border-bottom: solid 1px #0107422a;
  background-color: #e0d7ca;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}

a {
  color: black;
  text-decoration: none;
}

.header-content {
  display: block;
  padding: 0px 5px;
}