.index-wrapper {
  padding: 3vmin;
  border-right: 1px solid #0107422a;
  border-left: 1px solid #0107422a;
  border-top: none;
  border-bottom: none;
}

.index-title {
  margin-bottom: 35px;
}

@media screen and (max-width:767px) {
  .index-games {

  }
}

@media screen and (min-width:768px) {
  .index-games {
    display: flex;
    justify-content: space-around;
  }
}

.index-game {
  width: 250px;
  margin-right: 10px;
}

.game-title {
  padding-left: 8px;
}

.game-image-div {
  width: 300px;
  height: 300px;
}

.game-image {
  width: 250px;
}

.game-description {
  border: 1px solid #0107422a;
  padding: 0 5px;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 2.5vmin;
  padding: 1vmin;
  border-right: 1px solid #0107422a;
  border-left: 1px solid #0107422a;
  border-bottom: 3px solid #0107422a;
  background-color: #ffffff;
  font-size: 1.8vmin;
}