.tile-closed {
  background-color: #c49e90;
  font-size: 0px;
}

.tile-open {
  background-color: #c8785b;
  text-align: center;
}

.tile-broken {
  background-color: #bf4c22;
  text-align: center;
}

.minesweeper-board {
  border-spacing: 1px;
}

.plow-btn {
  background-color: white;
  background-image: image-url("games/minesweeper/scopp.gif");
  background-size: cover;
}

.acorn-btn {
  background-color: white;
  background-image: image-url("games/minesweeper/acorn.png");
  background-size: cover;
}

.acorn-mark {
  background-image: image-url("games/minesweeper/acorn.png");
  background-size: cover;
  background-color: #c49e90;
  font-size: 0px;
}