.tile-closed {
  background-color: #c49e90;
  font-size: 0px;
}

.tile-open {
  background-color: #c8785b;
  text-align: center;
}

.tile-broken {
  background-color: #db4343;
  text-align: center;
  background-image: image-url("games/minesweeper/acorn_trans.png");
  background-size: 90%;
  background-position: center;
  transform: rotateZ(-90deg);
  font-size: 0px;
}

.minesweeper-board {
  border-spacing: 1px;
}

.plow-btn {
  background-image: image-url("games/minesweeper/scopp.gif");
  background-size: cover;
}

.acorn-btn {
  background-image: image-url("games/minesweeper/acorn_trans.png");
  background-size: cover;
}

.acorn-mark {
  background-image: image-url("games/minesweeper/acorn_trans.png");
  background-size: 90%;
  background-position: center;
  background-color: #c49e90;
  font-size: 0px;
}