.tile-closed {
  background-color: #c49e90;
	text-indent:200%;
	white-space:nowrap;
	overflow:hidden;
}

.tile-open {
  background-color: #c8785b;
  text-align: center;
  padding: 0;
}

.tile-broken {
  background-color: #db4343;
  background-image: image-url("games/minesweeper/acorn_trans.png");
  background-size: 100%;
  background-position: center;
  // transform: rotateZ(-90deg);
  text-indent:200%;
	white-space:nowrap;
	overflow:hidden;
}

.acorn-mark {
  background-image: image-url("games/minesweeper/acorn_trans.png");
  background-size: 100%;
  background-position: center;
  background-color: #c49e90;
  text-indent:200%;
  white-space:nowrap;
  overflow:hidden;
}

.minesweeper-board {
  border-spacing: 1px;
}

.minesweeper-board-clear {
  border-spacing: 1px;
  opacity: 60%;
}

.plow-btn {
  background-image: image-url("games/minesweeper/scopp.gif");
  background-size: cover;
}

.acorn-btn {
  background-image: image-url("games/minesweeper/acorn_trans.png");
  background-size: cover;
}

.squirrel-happy {
  background-image: image-url("games/minesweeper/squirrel_happy.gif");
  background-size: cover;
  height: 30vmin;
  width: 30vmin;
}
